/* Modules */

#peephole .text-break {
  word-break: break-all;
}

/* Override */

#peephole .table pre {
  margin-bottom: 0;
}

#peephole .navbar {
  border-left: 0;
  border-right: 0;
}

#peephole .navbar.navbar-default {
  background: none;
}

#peephole .well {
  box-shadow: none;
}

#peephole .pager {
  text-align: left;
  margin-top: 0;
}

#peephole .btn,
#peephole .navbar,
#peephole .breadcrumb,
#peephole .pager li a,
#peephole .well, 
#peephole pre,
#peephole .label,
#peephole .form-control {
  border-radius: 0;
}
